body {
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* Хэдер */

.logotip {
    height: 100px;
    background-color: #0255b3;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 50px;
    
}
.logoB {
    position: absolute;
    left: 50px;
}

/* меню навигации */
nav {
    background-color: #ffffff;
    height: 70px;
    width: 600px;
    margin-right: 50px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    justify-content: right;
    align-items: center ; 
}

li a {
    display: block;
    background-color: #0255b3;
    width: 150px;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

li a:hover {
    background-color: rgb(67, 67, 67);
}

/* Информация о кофейне */
.info {
    height: 600px;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content:space-between;
}
    /* Блок с картинками */
.images {
  position: relative;
  width: 600px;
}

 .img1 {
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.img2 {
    position: absolute;
} 

.img3 {
    position: absolute;
    left: 320px;
    top: 60px;
}
    /* Блок с описанием */
.description {
    height: 200px;
    width: 450px;
}
h1 {
    color: rgb(67, 67, 67);
    font-size: 36px;
}

.title {
    padding-top: 140px;
}

.descriptionText {
    font-size: 24px;
    font-weight:100;
}

/* Основной элемент - меню */
main {
    background-color: #e7eff9;
    padding-top: 50px;
}
.page-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    }
  
  .slider-container {
    position: relative;
    width: 400px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #0255b3;
    font-size: 40px;
  }
  
  .prev-button {
    left: -10px;
  }
  
  .next-button {
    right: -10px;
  }

/* Форма для трудоустройства */

.application {
    background-color: rgb(255, 255, 255);
    height: 450px;
    padding: 50px;
}
.titleForm {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element {
    width: 400px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    outline: none;
    border-color: #0255b3;
    border-width: 1.3px;
    
}
input {
   background-color:  #e7eff9;
}

button {
    border-width: 1px;
    background-color: #7498c2;
}

textarea {
    background-color:  #e7eff9;
}

/* Футер - адреса точек */
footer {
    background-color: #ffffff;
    padding: 50px;
}

.address {
    display: flex;
    justify-content: space-around;
}

.adr {
    width: 310px;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logoW {
    margin-right: 10px;
}

/* Стили для вывода ошибки при валидации */
.message {
    color: rgb(255, 0, 0);
}

/* Создание эффекта появления для описания */
.opacit {
    animation-name: animation;
    animation-duration: 3s;
    animation-direction: alternate;
    }

@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Увеличение адреса при наведении на него */
.adr:hover {
    transition-duration: 1.5s;
    transform: scale(1.4);
}